*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner{
    justify-content: space-between;
    display: flex;
    background-color: cadetblue;
    text-decoration: none;
    text-align: center;
}
.nav li{
    padding-right: 100px;
}
.flex{
    justify-content: center;
}

button{
    border: 2px solid yellowgreen;
    border-radius: 40px;
    padding: 10px;
}
a{
    text-decoration: none;
}
footer{
    padding-right: 440px;
    padding-top: 20px;
}
.link{
    padding-right: 400px;
    border: 1px solid aquamarine;
    color: indigo;
}